*{
    padding: 0;
    margin: 0;
    border: 0;
}


html, body{
    height: 100%;
}

.cordamarca{
    color: #FF7A00;
    font-weight: bold;
}

.scrollable {
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Define a cor da barra de rolagem como transparente */
}

