

*{
    padding: 0;
    margin: 0;
    border: 0;
}


html, body{
    height: 100%;
}

.cordamarca{
    color: #FF7A00;
    font-weight: bold;
}

.scrollable {
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Define a cor da barra de rolagem como transparente */
}
.custom-bg-color:checked {
    background-color: #ff5733!important;
    border-color: #ff5733!important; 
  }
 .custom-bg-color:focus{
    border-color: #FF9874!important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FF9874'/%3e%3c/svg%3e")!important;
 } 